header{
	background-color:  #c42289 ;
}

header ul{
	display: flex;
	vertical-align: top;
	text-align: center;
}

header li{
	display: inline-flex;
	margin: 50px 10px 10px 50px;
	font-size: 20px;
	font-family: Verdana;
	color: whitesmoke;


}

header li a{
	text-decoration: none;
	color: White;
}


header a:hover{
	font-family: Arial;
	font-style: italic;
	font-weight: bold;
}


.equipe{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	color: black;
	text-align: center;

}



ul li{
	list-style: none;
	line-height: 1.5;
	font-family: helvetica;
}

img{
	width: 50%;
	display: block;
	margin: auto;
}

#imgcabecalho{
	width: 10%;
}

#imgrodape{
	width: 100%;
}